* {
  border-width: 1px;
  font-family: sans-serif;
}

html,
body {
  margin:0;
  border-width: 1px;
  height:100%;
}

#root {
  height:100%
}

:root {
  --main-text-light-color: rgba(255, 255, 255, 0.849);
  --main-blue-color: #1e90ff;
  --main-blue-hover-color: #156fc9;
  --main-blue-focus-color: #0a3764;
  --light-border-color: rgba(255, 255, 255, 0.582);;
}

#app-container {
  display: flex;
  flex-direction: column;
  height:100%;
  /* background-color: #272727 */
}

.content-container {
  position:absolute;
  z-index: 1;
  top:60px;
  bottom:0;
  left:0;
  right:0;
}

.top-bar-search-div {
  display: table;
  flex-grow: 1;
  /* position: absolute; */
  /* top: 50%; */
  /* left:50%; */
  width: 85%;
  height: 60px;
  float: left;
  text-align: center;
  /* align-content: center; */
  /* padding:20px 0; */
  /* background-color: red; */
  /* transform: translate(-50%, -50%) */
  /* margin: auto; */
  /* vertical-align: baseline; */
}

.top-bar-div {
  position: fixed;
  display: flex;
  flex-flow: row;
  z-index: 4;
  background-color: #413f3f;
  width: 100%;
  height: 60px;
}

.catalog-div {
  display: flex;
  flex-flow: row;
  /* display:block; */
  width: 100%;
  height: 100%;
  /* background-color: yellow; */
  /* padding:0 0; */
}

#filter-list-container {
  flex-grow:0.2;
  display: flex;
  flex-flow: column;
  /* margin-left:15%; */
  /* float: left; */
  /* width: 15%; */
  height: 100%;
  border-right-style: groove;
  /* border-bottom-style: groove; */
  border-color: rgb(255, 255, 255);
  border-width: 2px;
  background-color:#2e2d2d;
  border-top-style: groove;
  border-top-width: 1px;
  border-top-color: #a5a5a5;
}

.filter-element-container {
  /* position:relative; */
  /* width:100%; */
    /* border-width: 5px; */
  /* border-style: dashed; */
  border-width: 0;
}

.filter-element-container::before {
  /* position: absolute; */
  content: "";
  height: 1px;
  width: 50%;
  /* border-bottom-style: groove; */
  /* border-bottom-width: 1px; */
  /* border-bottom-color: var(--main-text-light-color); */
  border-bottom: 5px solid magenda;
  border-bottom-color: white;
}

.filter-element-option-container {
  padding-left:15px;
  left:0;
  bottom:0;
}

#filter-list-title-container {
  display: flex;
  text-align:left;
  align-items: center;
  height: 60px;
  background-color: #413f3f;
}

.object-list-div {
  /* margin-left:400px; */
  /* width: 80%; */
  height: 100%;
  /* float: left; */
  flex-grow:1;
  /* background-color: pink; */
}

.menu-div {
  z-index: 4;
  position: fixed;
  /* position: absolute; */
  top:60px;
  left:0;
  bottom:0;
  width: 300px;
  /* height: 100%; */
  /* float: left; */
  background-color: #413f3f;
  overflow-y: auto;
  overflow-x: hidden;
}

.menu-element-div {
  display: table;
  width: 300px;
  height: 50px;
  text-align: center;
}

.login-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height:100%;
  left:0;
  bottom:0;
}

#user-info-container {
  display: flex;
  flex-flow: row;
  left:0;
  float:right;
  text-align: right;
}