#root {
  height:100%
}

:root {
  --main-text-light-color: rgba(255, 255, 255, 0.849);
  --main-blue-color: #1e90ff;
  --light-border-color: rgba(255, 255, 255, 0.582);;
}

#app-container {
  display: flex;
  flex-direction: column;
  height:100%
}

.content-container {
  /* display: */
  flex-grow: 1;
}

* {
  border-width: 1px;
  font-family: sans-serif;
}

html,
body {
  margin:0;
  border-width: 1px;
  height:100%;
}

.top-bar-search-div {
  display: table;
  /* position: absolute; */
  /* top: 50%; */
  /* left:50%; */
  width: 85%;
  height: 60px;
  float: left;
  text-align: center;
  /* align-content: center; */
  /* padding:20px 0; */
  /* background-color: red; */
  /* transform: translate(-50%, -50%) */
  /* margin: auto; */
  /* vertical-align: baseline; */
}


.top-bar-accountinfo-div {
  width:10%;
  float:left;
  text-align: right;
}

.top-bar-div {
  float: top;
  background-color: #413f3f;
  width: 100%;
  height: 60px;
  padding: 0;
  top: 0;
  left: 0;
}

.catalog-div {
  /* display:block; */
  width: 100%;
  height: 100%;
  /* background-color: yellow; */
  /* padding:0 0; */
}

#filter-list-container {
  display: flex;
  flex-direction: column;
  /* margin-left:15%; */
  float: left;
  width: 15%;
  height: 100%;
  /* height: max-content; */
  border-right-style: groove;
  /* border-bottom-style: groove; */
  border-color: rgb(255, 255, 255);
  border-width: 2px;
  background-color:#2e2d2d;
  border-top-style: groove;
  border-top-width: 1px;
  border-top-color: #a5a5a5;
}

.filter-element-container {
  position:relative;
  width:100%;
    /* border-width: 5px; */
  /* border-style: dashed; */
}

.filter-element-container::before {
  position: absolute;
  content: "";
  height: 1px;
  width: 50%;
  /* border-bottom-style: groove; */
  /* border-bottom-width: 1px; */
  /* border-bottom-color: var(--main-text-light-color); */
  border-bottom: 5px solid magenda;
  border-bottom-color: white;
}

.filter-element-option-container {
  padding-left:15px;
  left:0;
  bottom:0;
}

#filter-list-title-container {
  display: flex;
  text-align:left;
  align-items: center;
  height: 60px;
  background-color: #413f3f;
}

.object-list-div {
  /* margin-left:400px; */
  width: 80%;
  height: 100%;
  float: left;
  /* background-color: pink; */
}

.menu-div {
  position: absolute;
  width: 300px;
  height: 100%;
  float: left;
  background-color: #413f3f;
}

.menu-element-div {
  display: table;
  width: 300px;
  height: 50px;
  text-align: center;
}

.login-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height:100%;
}