#top-bar-menu-button {
  width: 60px; 
  height:100%;
  float:left;
  text-align:center; 
  background-color: var(--main-blue-color);
  color: var(--main-text-light-color);
  font-size: 40px
  /* background: #1e90ff url('../resources/menubutton3.png'); */
  /* background-size: 30px; */
  /* padding:15px 0; */
  /* vertical-align: middle; */
}

#top-bar-menu-button:hover {
  background-color: var(--main-blue-hover-color);
}

/* #top-bar-menu-button:focus {
  background-color: var(--main-blue-focus-color);
} */

.search-form {
  display:table-cell;
  vertical-align: middle;
}

.search-input {
  width: 60%;
  max-width: 900px;
  height: 37px;
  border-radius: 7px;
  border-width: 0;
  padding:10px;
}
.search-input:focus {
  outline: none;
}
.search-input::placeholder {
  padding: 0 0px;
}

.filter-list {
  float: left;
  /* background-color: yellow; */
}

#filter-list-title {
  padding: 10px;
  color: white;
  font-size: large;
}

#filter-list-submit-button {
  float:right;
  width: 45%;
  height: 35px;
  background-color: var(--main-blue-color);
  color: var(--main-text-light-color);
  font-size: larger;
}

.filter-element-title {
  padding: 10px;
  margin: 0;
  color: var(--main-text-light-color);
}

.filter-element-option-title {
  color: var(--main-text-light-color)
}

.object-list {
  /* width: 100%; */
  /* float: left; */
  /* background-color: pink; */
  text-align: left;
}

.object {
  height: 200px;
}

.menu-element-form {
  width: 300px;
  height: 50px;
  color: var(--main-text-light-color);
  vertical-align: middle;
  text-align: center;
}

.menu-element-button {
  width: 300px;
  height: 50px;
  background-color:#413f3f;
  color:white;
  border-width: 0;
}

.menu-element-button:hover {
  background-color: var(--main-blue-color);
}

#login-title {
  display: block;
  text-align: center;
  font-size:larger;
  font-weight: bold;
}

.login-page-form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 30px;
}

.login-text-input {
  width: 400px;
  padding: 12px 20px;
  margin: 20px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#login-submit-button {
  width: 100%;
  height: 40px;
  background-color: var(--main-blue-color);
  color: white; 
  border-radius: 5px;
  border-width: 0;
}

#login-submit-button:focus {
  background-color: var(--main-blue-focus-color);
}

#login-submit-button:hover {
  background-color: var(--main-blue-hover-color);
}

#user-info-image {
  display: flex;
  width:50px;
  height:50px;
  align-self: center;
  margin: 0;
  border-radius: 50%;
}

#user-info-username {
  display: flex;
  height: 60px;
  align-items: center;
  margin: 0;
}

#user-info-logout-button {
  width: 50px;
  height: 60px;
  align-self: center;
  background-color: var(--main-blue-color);
  color: var(--main-text-light-color);
}

#user-info-logout-button:hover {
  background-color: var(--main-blue-hover-color);
}

#user-info-username {
  color: var(--main-text-light-color);
  padding: 0 10px;
}

/* #user-info-image { */